body{
	padding: 0;
	margin: 0 auto;
	background: url(../images/gobang.jpg) no-repeat;
	background-size: 100%;
}
#bg{
	width: 560px;
	height: 560px;
	margin: 50px auto;
	margin-top: 70px;
	background: url(../images/kuang.png) no-repeat;
	background-size: 100% 100%;
	padding: 20px;
}
#sence{
	width: 560px;
	height: 560px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% 100%;
	border-right:none;
	border-bottom: none;
	position: relative;
}
.block{
	margin: 0 1px 1px 0;
	float: left;
	border-radius: 50%;
	position: relative;
	z-index: 100; 
}